<!-- adds new widget -->
<mat-toolbar class="dialog-title" color="primary">
  <div>{{ 'dashboard.addWidgetDialog.title' | translate }}</div>
  <button mat-icon-button (click)="onNoClick()">
    <fa-icon icon="times"></fa-icon>
  </button>
</mat-toolbar>

<div mat-dialog-content style="text-align: center" >
  @if (objectKeys(widgets).length > 0) {
    <mat-tab-group [selectedIndex]="2">
      @for (category of objectKeys(widgets); track category) {
        <mat-tab [label]="category">
          @if (widgets[category].length) {
            <mat-grid-list cols="2" rowHeight="5:1">
              @for (wData of widgets[category]; track identify($index, wData)) {
                <mat-grid-tile rowspan="3">
                  <div [ngStyle]="{'color': wData.enable ? '' : '#999'}">
                    <h3>{{( 'dashboard.addWidgetTitle.' + ( wData.type !== 'custom'
                      ? wData.indexName : wData.title) | translate )
                    || wData.title }}</h3>
                    <p>{{(('dashboard.addWidgetText.' + ( wData.type !== 'custom'
                      ? wData.indexName : wData.title)) | translate )
                    || wData.description }}</p>
                    <button mat-raised-button class="setting-btn-ok"
              [mat-dialog-close]="{
                indexName: wData.indexName,
                strongIndex: wData.strongIndex,
                title: wData.title,
                data: wData
              }"
                      [disabled]="!wData.enable"
                      class="add-widget-button"
                      cdkFocusInitial
                      ><fa-icon icon="plus"></fa-icon> add</button>
                    </div>
                  </mat-grid-tile>
                }
              </mat-grid-list>
            }
            @if (!widgets[category].length) {
              <mat-tab-group [selectedIndex]="subCatActive">
                @for (tab of objectKeys(widgets[category]); track tab) {
                  <mat-tab [label]="tab">
                    <mat-grid-list cols="2" rowHeight="5:1" >
                      @for (wData of widgets[category][tab]; track identify($index, wData)) {
                        <mat-grid-tile rowspan="3">
                          @if (wData) {
                            <div [ngStyle]="{'color': wData.enable ? '' : '#999'}">
                              <h3>{{( 'dashboard.addWidgetTitle.' + ( wData.type !== 'custom'
                                ? wData.indexName : wData.title) | translate )
                              ||(wData.title)}}</h3>
                              <p>{{(('dashboard.addWidgetText.' +( wData.type !== 'custom'
                                ? wData.indexName : wData.title)) | translate)
                              || wData.description}}</p>
                              <button mat-raised-button color="primary"
          [mat-dialog-close]="{
            indexName: wData.indexName,
            strongIndex: wData.strongIndex,
            title: wData.title,
            data: wData
          }"
                                [disabled]="!wData.enable"
                                class="add-widget-button"
                                cdkFocusInitial
                                ><fa-icon icon="plus"></fa-icon> add</button>
                              </div>
                            }
                          </mat-grid-tile>
                        }
                      </mat-grid-list>
                    </mat-tab>
                  }
                </mat-tab-group>
              }
            </mat-tab>
          }
        </mat-tab-group>
      }
    </div>
