<div class="alertWrapper">
  @for (message of messages | keyvalue: returnZero; track message) {
    <div>
      @if (message.value.isOpen) {
        <div
            [ngClass]="{
                'message-object': message.value.isOpen,
                'alert-success': message.value.type === 'success',
                'alert-danger': message.value.type === 'error',
                'alert-warning': message.value.type === 'warning',
                'alert-notice': message.value.type === 'notice'
            }"
          >
          <mat-icon
            style="margin-left: 10px"
            class="close-message copy"
            [matTooltip]="'alert.copyFullErrorMessage' | translate"
            matTooltipPosition="above"
            (click)="copy(message.key)"
            >content_copy</mat-icon
            >
            <div class="message-object-text">{{ message.value.object }}</div>
          </div>
        }
        <div
          (mouseover)="resetTimer(message.key)"
          (mouseout)="clearMessageTimer(message.key)"
            [ngClass]="{
                alert: message,
                'alert-success': message.value.type === 'success',
                'alert-danger': message.value.type === 'error',
                'alert-warning': message.value.type === 'warning',
                'alert-notice': message.value.type === 'notice'
            }"
          id="alert"
          >
          <div class="alert-type">
            <div class="circle">
              <div>
                @switch (message.value.type) {
                  @case ('error') {
                    <fa-icon icon="times"></fa-icon>
                  }
                  @case ('success') {
                    <fa-icon
                      icon="check"
                    ></fa-icon>
                  }
                  @case ('warning') {
                    <fa-icon
                      icon="exclamation-triangle"
                    ></fa-icon>
                  }
                  @case ('notice') {
                    <fa-icon icon="info"></fa-icon>
                  }
                }
              </div>
            </div>
          </div>
          <div class="message-text" id="alert-message">
            {{ message.value.text }}
          </div>
          <div
                style="
                    height: 20px;
                    width: 100px;
                    display: flex;
                    justify-content: flex-end;
                "
            >
            @if (message.value.object) {
              <mat-icon
                style="margin-left: 10px"
                class="close-message"
                (click)="toggleFull(message.key)"
                    [matTooltip]="
                        (message.value.isOpen
                            ? ('alert.hide' | translate)
                            : ('alert.show' | translate)) +
                        ' ' +
                        ('alert.fullNotificationMessage' | translate)
                    "
                >
                {{ message.value.isOpen ? "expand_more" : "expand_less" }}
              </mat-icon>
            }
            <mat-icon
              style="margin-left: 10px"
              class="close-message"
              (click)="clearMessage(message.key)"
              #tooltip="matTooltip"
              [matTooltip]="'alert.closeNotification' | translate"
              >
              close
            </mat-icon>
          </div>
        </div>
      </div>
    }
  </div>
