<div class="on-top modal-resizable" #layerZIndex>
  <div
        [className]="
            isNonWindow || isFullPage
                ? 'detail-container full-page'
                : 'detail-container'
        "
    [ngStyle]="(isOpacity && isDragging) && {opacity: 0.5}"
    (mousedown)="onFocus()"

    #containerWindow
    >
    @if (!isNonWindow) {
      <mat-toolbar
        class="title"
        color="primary"
        (dblclick)="onFullPage()"
        [ngStyle]="{ 'background': headerColor }"
        (touchmove)="onStartMoveTouch($event)"
        (mousedown)="onStartMove($event)"
        (touchend)="resetTouch()"
        >
        <!-- START:ARROWS -->
        @if (!!arrowMetaData) {
          <div
            style="min-width: 5rem"
            (mouseover)="_noLayout = true"
            (mouseout)="_noLayout = false"
            >
            @if (arrowMetaData.isLeft) {
              <button
                mat-icon-button
                class="button-icon-right-top"
                (click)="clickArrowLeft($event)"
                >
                <fa-icon icon="arrow-left"></fa-icon>
              </button>
            }
            @if (arrowMetaData.isRight) {
              <button
                mat-icon-button
                class="button-icon-right-top"
                (click)="clickArrowRight($event)"
                >
                <fa-icon icon="arrow-right"></fa-icon>
              </button>
            }
          </div>
        }
        <!-- END:ARROWS -->
        <div class="toolbar-title">
          @if (!title2) {
            {{ title }}
          } @else {
            <div style="flex: 1; margin-left: 4rem;">
              <div style="flex: 1; text-align: center;">{{ title }}</div>
              <div style="min-width: 50px; height: 28px; text-align: center;">
                <mat-icon class="diff-icon">compare</mat-icon>
              </div>
              <div style="flex: 1; text-align: center;">{{ title2 }}</div>
            </div>
          }
        </div>
        <div (mouseover)="_noLayout = true" (mouseout)="_noLayout = false">
          @if (isRefreshButton) {
            <button
              [disabled]="!isLoaded || isRefreshing"
              mat-icon-button
              [ngClass]="{'loading-anim': isRefreshing}"
              style="transform: rotateZ(45deg);"
              (click)="refresh($event)"
              >
              <mat-icon>autorenew</mat-icon>
            </button>
          }
          <button mat-icon-button (click)="onFullPage()">
            @if (!isFullPage) {
              <mat-icon>fullscreen</mat-icon>
            }
            @if (isFullPage) {
              <mat-icon>fullscreen_exit</mat-icon>
            }
          </button>
          <button
            mat-icon-button
            [hidden]="!isOutsideButton"
            (click)="newWindow()"
            >
            <mat-icon>flip_to_front</mat-icon>
          </button>
          <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-toolbar>
    }
    <div class="inside-content" [style.top.px]="!isNonWindow ? 45 : 0">
      <span (wheel)="onWheel($event)" #inWindow>
        <ng-content></ng-content>
      </span>
    </div>
    <div
      [hidden]="!(isDropLayer || isDropRight || isDropLeft)"
      class="inside-content drag-layer"
            [ngClass]="{
                'left': isDropLeft,
                'right': isDropRight
            }"
      >
      <h1>Drop to compare messages</h1>
    </div>
    <!--
    Resizable conrols
    -->
    @for (item of ['left', 'top']; track item) {
      <div
        [className]="'resize ' + item"
        (touchmove)="onResizeTouch($event, item)"
        (touchend)="resetTouch(); afterResize()"
        (mousedown)="onResize($event, item)"
        (mouseup)="afterResize()"
      ></div>
    }
    @for (item of ['tl', 'tr', 'bl', 'br']; track item) {
      <div
        [className]="'resize corner ' + item"
        (touchmove)="onResizeTouch($event, item)"
        (touchend)="resetTouch(); afterResize()"
        (mousedown)="onResize($event, item)"
        (mouseup)="afterResize()"
      ></div>
    }
  </div>
</div>

<app-window
  [isWindow]="__isBrowserWindow"
  [width]="width"
  [height]="height"
  [objectData]="objectData"
  [sharedUrl]="sharedUrl"
  (close)="onWindowClose($event); onClose()"
  #nativeWindow
  >
  <div class="out-window" #outWindow></div>
</app-window>
