<app-modal-resizable [title]="'Call-ID: ' + titleId" [isNonWindow]="!isWindow" [isOutsideButton]="true"
    [headerColor]="headerColor" (closeDialog)="onClose()" [mouseEventData]="mouseEventData" [width]="1400" [height]="670"
    [minWidth]="600" [id]='titleId' [minHeight]="400" [sharedUrl]="'/transaction/' + sharedGUID"
    [objectData]="objectData" (browserWindow)="onBrowserWindow($event)">
    <app-tooltip [isForPopup]="true"></app-tooltip>
    @if (!isLoaded || exportAsPNG || showLoader) {
        <app-loading-circle></app-loading-circle>
    }

    @if (isLoaded && sipDataItem?.data?.data?.messages?.length > 0) {

        <app-filter [hidden]="!isFilterIcon()" [dataItem]="sipDataItem" [callIDColorList]='callIDColorList'
            [type]="tabStringIndex">
        </app-filter>

        <mat-tab-group class="transaction-mat-tab-wrapper" [disablePagination]="true"
            (selectedIndexChange)="selectTab($event); (activeTab === 6 || activeTab === 5) && resizeMap()"
            (selectedTabChange)="onSelectedTabChange($event)" [selectedIndex]="this.tabIndexByDefault"
            style="height: 100%;">
            @for (name of getTabs; track name) {
                <mat-tab [label]="name"></mat-tab>
            }
        </mat-tab-group>

        <div class="tab-content-container">
            <div class="tab-content-container-wrapper"
                [style.overflow-y]="tabStringIndex !== 'Flow' && tabStringIndex !== 'Media Reports' ? 'auto': 'hidden'">
                <!-- [style.margin-right.px]="tabStringIndex === 'Flow' ? 16 : 0" -->
                <!-- wrapper  -->
                @switch (tabStringIndex) {
                    @case ('Webshark') {
                        <app-webshark [sipDataItem]="sipDataItem" (ready)="showLoader=false"
                            (rowDblClick)="openMessage.emit($event)">
                            ></app-webshark>
                    }
                    @case ('Message') {
                        <app-tab-messages [dataItem]="sipDataItem" (ready)="showLoader=false">
                        </app-tab-messages>
                    }
                    @case ('Flow') {
                        <app-tab-flow [callid]="titleId" (ready)="showLoader=false" [callIDColorList]='callIDColorList'
                            [dataItem]="sipDataItem"></app-tab-flow>
                    }

                    @case ('Session Info') {
                        <app-tab-callinfo [dataItem]="sipDataItem.data" [callIDColorList]='callIDColorList'
                            (ready)="showLoader=false"></app-tab-callinfo>
                    }

                    @case ('QoS') {
                        <app-tab-qos [callid]="titleId" [dataItem]="$safeNavigationMigration(sipDataItem?.data)" [qosData]="_qosData"
                            [id]="IdFromCallID" (haveData)="onTabQos($event)" (ready)="showLoader=false"></app-tab-qos>
                    }
                    @case ('Events') {
                        <app-tab-events [dataItem]="sipDataItem" (ready)="showLoader=false"></app-tab-events>
                    }
                    @case ('Sub') {
                        <app-tab-sub [dataItem]="agentsData" (messageWindow)="addWindow($event)" (ready)="showLoader=false">
                        </app-tab-sub>
                    }
                    @case ('Logs') {
                        <app-tab-hepsub [snapShotTimeRange]="snapShotTimeRange" [dataItem]="sipDataItem" [callid]="titleId"
                            (ready)="showLoader=false" [id]="IdFromCallID"></app-tab-hepsub>
                    }

                    @case ('Export') {
                        <app-tab-export (exportFlowAsPNG)="onExportFlowAsPNG()" [snapShotTimeRange]="snapShotTimeRange"
                            (ready)="showLoader=false" [dataItem]="sipDataItem" [callid]="titleId" [request]="request"
                            [id]="IdFromCallID">
                        </app-tab-export>
                        <div style="position: relative; overflow: hidden; height: 1px; width: 1px;">
                            <div style="position: absolute;">
                                <app-tab-flow [callid]="titleId" [dataItem]="sipDataItem" [exportAsPNG]="exportAsPNG"
                                    [callIDColorList]='callIDColorList' (pngReady)="exportAsPNG=false">
                                </app-tab-flow>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    } @else if (isLoaded) {
        <h1 style="text-align: center; padding: 8rem; color: #aaa;">
            No data in Database
        </h1>
    }
</app-modal-resizable>

@for (item of arrMessageDetail; track item; let idx = $index) {
    <app-modal-resizable [isOutsideButton]="true"
        [title]="'Message ID: ' + item.id" [headerColor]="item.headerColor" [mouseEventData]="item.mouseEventData"
        [startZIndex]="2000" [minWidth]="400" [minHeight]="200" [arrowMetaData]="item.arrowMetaData"
        [isBrowserWindow]="item.isBrowserWindow" [width]="650" [height]="400" (closeDialog)="closeWindowMessage(idx)">
        @if (!item.loaded) {
            <app-loading-circle></app-loading-circle>
        } @else {
            <app-message-content [rowData]="rowData" [data]="item.data">
            </app-message-content>
        }
    </app-modal-resizable>
}
