@if (_data?.frame_protocol) {
  <app-webshark [data]="_data.raw_source || _data.message">
  </app-webshark>
} @else {
  <mat-tab-group class="message-container" #matTabGroup (selectedTabChange)="onSelectedTab()">
    @if (raw || raw_hep_log) {
      <mat-tab label="Message" style="padding: 1rem;">
        <div class="time-label">{{ timeLabel }}</div>
        @if (raw_isJSON) {
          <ngx-json-viewer [json]="raw" [expanded]="true"></ngx-json-viewer>
        }
        @if (!raw_isJSON && type !== 'LOG') {
          <div [innerHTML]="raw | safeHtml" class="raw-json"></div>
        }
        @if (!raw_isJSON && type === 'LOG') {
          <pre class="raw-json">{{raw_hep_log}}</pre>
        }
      </mat-tab>
    }
    @if (pt?.sip) {
      <mat-tab label="SIP" class="parsed-data">
        <div class="parsed-data">
          <ngx-json-viewer style="color:gray" class="sipParse" [json]="$safeNavigationMigration(pt?.sip)" [expanded]="false">
          </ngx-json-viewer>
        </div>
      </mat-tab>
    }
    @if (pt?.sdp) {
      <mat-tab label="SDP">
        <div class="parsed-data">
          <ngx-json-viewer [json]="pt.sdp" [expanded]="false"></ngx-json-viewer>
        </div>
      </mat-tab>
    }
    @if (pt?.vqr) {
      <mat-tab label="VQR">
        <div class="parsed-data">
          <ngx-json-viewer [json]="pt.vqr" [expanded]="true"></ngx-json-viewer>
        </div>
      </mat-tab>
    }
    @if (pt?.jwt) {
      <mat-tab label="JWT">
        <div class="parsed-data">
          <ngx-json-viewer [json]="pt.jwt" [expanded]="true"></ngx-json-viewer>
        </div>
      </mat-tab>
    }
    @if (pt?.xrtp) {
      <mat-tab label="XRTP">
        <div class="parsed-data">
          <ngx-json-viewer [json]="pt.xrtp" [expanded]="true"></ngx-json-viewer>
        </div>
      </mat-tab>
    }
    @if (messageDetailTableData) {
      <mat-tab label="Details" style="padding: 1rem;">
        <div>
          <table mat-table [dataSource]="messageDetailTableData" [trackBy]="identify" class="mat-elevation-z8"
            style="width: 100%; font-size:12px !important;font-family: 'Roboto Mono', monospace !important;">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element" style="font-size:12px !important;color:rgb(41, 41, 41);">
                <span>{{element.name}}</span></td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"
                  style="font-size:12px;font-family: 'Roboto Mono', monospace !important;">
                  @if (isObject(element.value)) {
                    <div>
                      <ngx-json-viewer [json]="{details: element.value}" [expanded]="true"></ngx-json-viewer>
                    </div>
                  } @else {
                    <span style="font-size:12px;font-family: 'Roboto Mono', monospace !important;">{{element.value}}</span>
                  }
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['name', 'value']" style="height:30px"></tr>
              <tr mat-row *matRowDef="let row; columns: ['name', 'value']" style="height:30px"></tr>
            </table>
          </div>
        </mat-tab>
      }
      @if (_data?.decoded) {
        <mat-tab label="Decoded" style="padding: 1rem;">
          <div class="parsed-data">
            <ngx-json-viewer [json]="_data.decoded" [expanded]="false"></ngx-json-viewer>
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  }
