<div class="flow-tooltip" [ngStyle]="{
  'left.px': point.left,
  'top.px': point.top,
  'display': isMessage ? 'block' : 'none'

}" #tooltipContainer>
  @if (type === 'string') {
    <p style="margin: 0; padding:0;font-size: 12px !important;">{{ messageString }}</p>
  } @else {
    <table style="min-width: 200px;">
      @for (item of messageTable; track item) {
        <tr>
          @if (item.name === 'image' && isLinkImg) {
            <td colspan="2" style="text-align: center;">
              <img class="flow-alias-image" [src]="item.value" alt="" />
            </td>
          }
          @if (item.name === 'image' && !isLinkImg) {
            <td colspan="2" style="text-align: center;">
              <img [src]="'assets/' + item.value" alt="" />
            </td>
          }
          @if (item.name !== 'image' && item.name !== 'color' && item.name !== 'isLinkImg') {
            <td style="padding-right: 5px; text-align: right;"><strong>{{ item.name | titlecase }}</strong></td>
          }
          @if (item.name !== 'image' && item.name !== 'color' && item.name !== 'isLinkImg') {
            <td style="padding-left: 5px;">{{ item.value }}</td>
          }
        </tr>
      }
    </table>
  }

</div>
