<mat-label style="color: rgba(0, 0, 0, 0.54); font-size: 0.8em;">LogQL</mat-label>

<div
  spellcheck="false"
  (keyup)="onKeyUpDiv($event)"
  (keydown)="onKeyDownDiv($event)"
  name="divContainer" ngDefaultControl
  contenteditable="true"
  class="div-field"

#divContainer></div>

<div [matMenuTriggerFor]="trigger" style="position: absolute;"></div>

@if (lokiConnectionDisapper) {
  <div class="error">
    <fa-icon icon="exclamation-circle"></fa-icon>
    Error connecting to datasource: Data source connected, but no labels received. Verify that Loki and Promtail is configured properly.
  </div>
}

<mat-menu #trigger="matMenu">
  <p class="menu-title">{{menuTitle}}</p>
  @for (i of popupList; track i) {
    <button mat-menu-item
      (click)="onMenuMessage(i)"
      (keyup)="onMenuMessage(i, $event)"
    >{{ i }}</button>
  }
</mat-menu>

