<span style="display: none;"
[id]="id"></span>
@if (onlySmartField) {
  <div style="padding: 0 2rem 0 1rem"
    >
    <!-- smart-input -->
    <app-code-style-smart-input-field apiLink="{{apiLink}}"
      [mappingList]="mappingList | async"
      [simplefield]="true"
      (updateData)="onSmartInputCodeData($event)"
      (keyEnter)="doSearchResult()"
      #onlySmartFieldElement>
    </app-code-style-smart-input-field>
  </div>
}
@if (!onlySmartField) {
  <div>
    <div class="inputs-container">
      <div class="example-container-smart"
        [ngStyle]="{'grid-template-columns': getFieldColumns()}">
        @for (item of fields; track item) {
          <div
            [style.display]="item.shown === false && 'none'"
            [ngClass]="{smartContainer : item.form_type === 'smart-input'}">
            @if (item.field_name === 'proto_selector') {
              <div>
                <!-- static fields -->
                <!-- if proto selector-->
                <app-code-proto-selector [value]="$safeNavigationMigration(fields[0]?.value)"
                  [mappingList]="mappingList | async"
                  (protoChanged)="onProtoChange($event)"
                  [id]="$safeNavigationMigration(fields[0]?.name)">
                </app-code-proto-selector>
              </div>
            }
            <!-- if item is targetResultsContainer -->
            @if (item.field_name === 'targetResultsContainer') {
              <mat-form-field class="limit-selector"
                style="flex-grow:1; max-width: 150px;"
                [style.display]="item.shown === false && 'none'"
                >
                <mat-label>{{item.selection}}</mat-label>
                <mat-select multiple
                  [formControl]="targetResultsContainerValue"
                  [compareWith]="compareResultListItem"
                  (selectionChange)="onChangeTargetResultsContainer()"
                  name="targetResultsContainer"
                  ngDefaultControl>
                  @for (listItem of widgetResultList; track listItem) {
                    <mat-option
                      [value]="listItem">
                      {{listItem.type === 'widget' ? 'widget: ' : ''}} {{listItem.title}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
            <!-- smart-input -->
            <div>
              <!-- [id]="item.name || item.field_name" -->
              @if (item.form_type === 'smart-input') {
                <app-code-style-smart-input-field style="width: 100%;"
                  [apiLink]="item.full_api_link"
                  [queryText]="item.value"
                  [parent_id]="config.id"
                  (keyEnter)="doSearchResult()"
                (updateData)="onSmartInputCodeData($event, item)"></app-code-style-smart-input-field>
              }
            </div>
            <!-- if other Fields -->
            @if (item.field_name === 'limit') {
              <mat-form-field style="display: block"
                class="limit-selector query"
                [style.display]="item.shown === false && 'none'"
                >
                <mat-label>{{item.selection}}</mat-label>
                <!-- Text Field (by Default) -->
                @if (!item.form_default) {
                  <input matInput
                    [(ngModel)]="item.value"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeField($event)">
                }
                <!-- Autocomplete Text Field -->
                @if (item.form_default && item.form_type === 'input' && item.selection === 'Query Limit') {
                  <input matInput
                    [formControl]="item.formControl">
                }
              </mat-form-field>
            }
          </div>
        }
      </div>
    </div>
  </div>
}

<div class="action-buttons"
  [className]="buttonState ? 'show' : 'hide'">
  <button mat-raised-button
    class="clear-btn"
  (click)="onClearFields()">{{'LINK.buttons.clear' | translate}}</button>
  <button mat-raised-button
    class="search-btn"
  (click)="doSearchResult()">{{'LINK.buttons.search' | translate}}</button>
</div>
<!-- <div class="info-label">{{ 'widgets.smartInput.widget.ctrlEnter' | translate }}</div> -->
