<!-- table -->
@if (!callTransaction && callTransaction.length === 0) {
  <div>
    No Info
  </div>
}

@for (trans of callTransaction; track trans) {
  <div>
    <div class="panel panel-default padded">
      <div class="panel-heading">
        <div class="toggle-header" [ngStyle]="{ 'border-bottom': '3px solid ' + color(trans.callid) }"
          tabindex="0"
          role="button"
          (click)="toggleCallInfo(trans.callid)"
          (keydown.enter)="toggleCallInfo(trans.callid)">
          <div style="display: flex; align-items: center">
            <mat-icon style="color: #749ad6" id="{{ trans.callid + '-icon' }}">keyboard_arrow_down
            </mat-icon>
            <strong class="call-header-item">Call-ID:</strong> {{ trans.callid }}
          </div>
          <div class="header-data-items">
            <div>
              <strong class="call-header-item">Duration:</strong>
              {{ findTaskData(trans.task, "Duration")["body"] }}
            </div>
            <div>
              <strong class="call-header-item">Status:</strong>
              {{ findTaskData(trans.task, "Status")["body"] }}
            </div>
          </div>
        </div>
        <div id="{{ trans.callid }}">
          <div [ngStyle]="{ 'border-top': '1px solid ' + color(trans.callid) }" class="call-data-panel">
            <div class="data-header">
              @if (trans.chart) {
                <div class="trans-chart" style="flex:1">
                  <!-- <div *ngFor="let item of task.data | keyvalue">
                  <div>{{item.key}}: <b>{{item.value}}</b></div>
                </div>
                -->
                <div class="chart-cont">
                  <canvas baseChart [data]=" chartGetData(trans.chart, 'data') "
                    [labels]=" chartGetData(trans.chart, 'label') " [options]="pieChartOptions"
                    [legend]="false" [type]="pieChartType">
                  </canvas>
                  <div style="font-size: 12px;">{{ trans.chart.title }}</div>
                </div>
              </div>
            }
            <div class="data tables">
              @if (trans['ua_src']) {
                <div class="__uac"> {{ trans["ua_src"].title }} -->
                  {{ trans["ua_dst"].title }}:
                  <strong>{{ trans["ua_src"].body }} --> {{ trans["ua_dst"].body }}</strong>
                </div>
              }
              <table class="call-info-data" style="font-size: 12px;">
                <tr style="opacity: 0.7">
                  <td><strong>duration</strong></td>
                  <td colspan="2"><strong>from</strong></td>
                  <td colspan="2"><strong>ruri</strong></td>
                  <td colspan="2"> <strong>src ip:port</strong> </td>
                  <td colspan="2"> <strong>dst ip:port</strong> </td>
                </tr>
                <tr>
                  <td>{{ secFormatter(trans.Duration) }}</td>
                  <td colspan="2"> {{ trans.from_user }}&#64;{{trans.from_domain}} </td>
                  <td colspan="2">
                    {{ trans.ruri_user || trans.to_user }}&#64;{{trans.ruri_domain || ""}}
                  </td>
                  <td colspan="2">
                    {{trans.source_ip + ":" + trans.source_port }}
                  </td>
                  <td colspan="2">
                    {{ trans.destination_ip  + ":" + trans.destination_port }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="squares-cont">
          <div class="task-wrapper">
            @for (task of trans.task; track task) {
              @if ( task.body !== 0 && task.body !== '' && task.abs !== 0 && task.type !== 404) {
                <div class="task-item"
                  syle="display:flex;"
                  [ngStyle]="{ 'background-color': task.color, 'grid-area': task.grid }"
                  id="{{ task.title }}">
                  @if ( task.type === 1 && task.body !== 0 && task.body !== '' && task.abs !== 0 ) {
                    <div>
                      <div>{{ task.title }}</div>
                      <div> <span>{{ task.body }}</span> {{ task.prefix }} </div>
                    </div>
                  }
                  @if ( task.type === 6 && objectKeys(task.body).length > 0) {
                    <div>
                      <div>{{ task.title }}</div>
                      <div style=" font-size: 16px; font-weight: bold; ">
                        <span> {{ task.body.in }} <fa-icon style=" color: #7c7c7c; font-size: 14px;"
                        icon="arrow-right"></fa-icon> {{ task.body.out }} </span>
                      </div>
                    </div>
                  }
                  @if (task.type === 9 && objectKeys(task.body).length > 0) {
                    <div>
                      <div>{{ task.title }}</div>
                      <div style=" font-size: 16px; font-weight: bold; ">
                        <span> {{ task.body.in }} <fa-icon style=" color: #7c7c7c; font-size: 14px;"
                        icon="arrow-right"></fa-icon> {{ task.body.out }} </span>
                      </div>
                    </div>
                  }
                  @if (task.type === 4) {
                    <div [innerHTML]="task.body | html"></div>
                  }
                  @if (task.type === 5 && task.body !== 0 && task.body !== '' && task.abs !== 0 ) {
                    <div>
                      <div>{{ task.title }}</div>
                      <div> <span>{{ task.body }}</span> {{ task.prefix }} </div>
                    </div>
                  }
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
}
