@if (isConfig) {
  <div class="alertWidget"
    [ngStyle]="{'background-color': this._config.alertState ?
    this._config.alertSuccessColor
    : this._config.alertFailColor}">
    @if (this._config.alertState) {
      <p [style.color]="this._config.alertTextColor">
      {{ this._config.alertMessage }}</p>
    }
    @if (displayMessage && this._config.showResponse) {
      <pre
        [style.color]="this._config.alertTextColor">
      {{ displayMessage }}</pre>
    }
  </div>
}
@if (!isConfig) {
  <div>
    <button mat-raised-button class="setting-btn-ok" (click)="openDialog()">
      <mat-icon>settings</mat-icon> {{'LINK.buttons.widgetSettings' | translate}}
    </button>
  </div>
}