<mat-toolbar class="title" color="primary">
  <div>{{'LINK.settings' | translate}}</div>
  <button mat-icon-button (click)="onNoClick()">
    <fa-icon icon="times"></fa-icon>
  </button>
</mat-toolbar>

<div mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <mat-label>{{'LINK.title' | translate}}</mat-label>
      <input matInput [(ngModel)]="data.title" (ngModelChange)='validate($event)'>
    </mat-form-field>


    <div>
      <label>{{ 'widgets.grafana.settings.theme' | translate }} </label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="data.params.theme">
        @for (season of ['light', 'dark']; track season) {
          <mat-radio-button style="padding-left: 0.5rem;" [value]="season">
            {{season}}
          </mat-radio-button>
        }
      </mat-radio-group>
    </div>

    <div>
      <label>{{ 'widgets.grafana.settings.timeRange' | translate }}</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="data.typeDataRange">
        @for (season of [
          {name: 'Dashboard', value: 'global'},
          {name: 'Grafana', value: 'grafana'}
          ]; track season) {
          <mat-radio-button style="padding-left: 0.5rem;"
            [value]="season.value">
            {{season.name}}
          </mat-radio-button>
        }
      </mat-radio-group>

    </div>

    @if (data.typeDataRange === 'grafana') {
      <div>
        <mat-form-field>
          <mat-label>{{ 'widgets.grafana.settings.from' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.params.from">
        </mat-form-field>
        <mat-form-field style="padding-left: 0.5rem;">
          <mat-label>{{ 'widgets.grafana.settings.to' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.params.to">
        </mat-form-field>
        <mat-form-field style="padding-left: 0.5rem;">
          <mat-label>{{ 'widgets.grafana.settings.refresh' | translate }}</mat-label>
          <input matInput [(ngModel)]="data.params.refresh">
        </mat-form-field>
        <p>{{ 'widgets.grafana.settings.refreshDescription' | translate }}</p>
        <div>
          <a [href]="'widgets.grafana.settings.documentationLink'" target="_blank">
            {{ 'widgets.grafana.settings.documentation' | translate }}
          </a>
        </div>
        <hr>
        </div>
      }
      @if (isSameOrigin) {
        <div>
          <mat-checkbox
            [(ngModel)]="data.params.hasVariables"
            >
            {{ 'widgets.grafana.settings.hasVariables' | translate }}
          </mat-checkbox>
        </div>
      }

      <div>
        @if (isLoggedIn) {
          <mat-form-field>
            <mat-label>{{'LINK.dashboard' | translate}}</mat-label>
            <mat-select
              [disabled]='dashboardList?.length == 0'
              [compareWith]="compareDashboard"
              [(ngModel)]="dashboardSource"
              (selectionChange)="onDashboardChange()">
              @for (group of dashboardList; track group) {
                <mat-optgroup [label]='group.group'>
                  @for (item of group.list; track item) {
                    <mat-option [value]="item">
                      {{ item.title }}
                    </mat-option>
                  }
                </mat-optgroup>
              }
            </mat-select>
          </mat-form-field>
        }

        @if (isLoggedIn) {
          <mat-form-field style="padding-left: 0.5rem;">
            <mat-label>{{ 'widgets.grafana.settings.panel' | translate }}</mat-label>
            <mat-select
              style="max-height: 300px;"
              [disabled]='dashboardList?.length == 0'
              [compareWith]="comparePanel"
              [(ngModel)]="panelListValue"
              (selectionChange)="onPanelSelect()">
              @for (item of panelList; track item) {
                <mat-option [value]="item">
                  {{ item.title }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if (!isLoggedIn) {
          <h6 class="login-error"><mat-icon>warning</mat-icon>
          @if (errorCode !== 1048) {
            <span>{{ 'widgets.grafana.settings.error' | translate: {error: errorMessage} }}</span>
          }
          @if (errorCode === 1048) {
            <span>{{ 'widgets.grafana.settings.grafanaError' | translate: {error: errorMessage} }}</span>
          }
        </h6>
      }
    </div>

    <div class="example-container">
      <mat-form-field>
        <mat-label>{{ 'widgets.grafana.settings.description' | translate }}</mat-label>
        <input matInput [(ngModel)]="data.desc">
      </mat-form-field>
    </div>

  </div>
</div>

<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
  <button mat-raised-button (click)="onNoClick()">{{'LINK.buttons.cancel' | translate}}</button>
  <button mat-raised-button class="setting-btn-ok" [mat-dialog-close]="data" cdkFocusInitial [disabled]='isInvalid'>{{'LINK.buttons.save' | translate}}</button>
</div>
