<div class="login-container">

  <mat-card appearance="outlined">
    @if (types) {
      <mat-card-title>
        <div class="login-page-header">
          <div class="login-logo">
            <img src="assets/images/homerseven.png" alt="Homer">
          </div>
          @if (!translateError) {
            <p class="login-head"
              >
              {{ 'login.header' | translate }}
            </p>
          }
        </div>
      </mat-card-title>
    }

    @if (isReady) {
      <mat-card-content ngClass="login-form"
        >
        @if (types && !translateError && !typesError) {
          <form [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            >
            <input type="text"
              autocomplete="username"
              [placeholder]="'login.username' | translate"
              name="username"
              required
              formControlName="username"
              class="form-control" />
            <input class="form-control"
              autocomplete="current-password"
              type="password"
              [placeholder]="'login.password' | translate"
              (keydown)="onCapsLock($event)"
              (keyup)="onCapsLock($event)"
              formControlName="password"
              required />
            @if (error) {
              <p
                class="error">
                {{ error }}
              </p>
            }
            @if (enabledTypes && enabledTypes.length > 1) {
              <div class="input-group mb-3"
                >
                <div class="input-group-prepend">
                  <label class="input-group-text" for="authentication-type">{{ 'login.authentication' | translate }}</label>
                </div>
                <select class="custom-select"
                  id="authentication-type"
                  formControlName="type"
                  [(value)]="type">
                  @for (type of types; track type) {
                    <option
                      value="{{ type.type }}">
                      {{ type.name}}
                    </option>
                  }
                </select>
              </div>
            }
            <button mat-flat-button
            class="login-submit">{{ 'login.signInButton' | translate }}</button>
            @if (oAuthTypes?.length > 0) {
              <div>
                <div class="oauth-divider">or continue with</div>
                <div class="oauth-wrapper">
                  @for (type of oAuthTypes; track type) {
                    <span class="oauth-button-wrapper">
                      <button mat-flat-button class="oauth-submit"
                        [style.background-color]="type.color || 'hsl(0, 0%, 50%)'"
                        (click)='goOauth(type)'
                        >
                        <span class="oauth-icon">
                          @if (type.provider_name && !type.provider_image) {
                            <fa-icon [icon]="['fab', type.provider_name]"></fa-icon>
                          }
                          @if (type.provider_image) {
                            <img [src]="type.provider_image" width="20" height="20" alt="Provider">
                          }
                        </span>
                        <span class="oauth-label">{{ type.name }}</span>
                      </button>
                    </span>
                  }
                </div>
              </div>
            }
          </form>
        }
        <!-- <ng-template #noApiResponse> -->
        @if (typesError && !translateError) {
          <div
        style="
            max-width: 250px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
            display: grid;
            align-items: center;
            height: 250px;
          ">
            <div style="text-align: center">
          <mat-icon style="
                color: rgb(155, 155, 155);
                height: 70px;
                width: 70px;
                font-size: 70px;
              ">error_outline</mat-icon>
            </div>
            <h3 style="color: black; font-weight: lighter">{{ "login.error.apiNotFound.header" | translate }}</h3>
            <p style="color: grey">
              {{ "login.error.apiNotFound.message" | translate }}
            </p>
          </div>
        }
        @if (translateError) {
          <div
        style="
          max-width: 250px;
          margin: 0 auto;
          text-align: center;
          padding: 20px;
          display: grid;
          align-items: center;
          height: 250px;
        ">
            <div style="text-align: center">
          <mat-icon style="
          color: rgb(155, 155, 155);
          height: 70px;
          width: 70px;
          font-size: 70px;
        ">error_outline</mat-icon>
            </div>
            <h3 style="color: black; font-weight: lighter">Translation File Error</h3>
            <p style="color: grey">
              Please Contact Customer Service
            </p>
          </div>
        }
      <!-- </ng-template> -->
    </mat-card-content>
  }
</mat-card>
<footer class="homer-footer">{{ 'login.copyright' | translate }}</footer>
</div>
