<div style="display: flex">
  <div class="example-container-setting">
    <h3>Inactive</h3>
    <div cdkDropList
      class="example-list disabled"
      #inactiveListView="cdkDropList"
      [cdkDropListData]="inactiveList"
      [cdkDropListConnectedTo]="[activeListView]"
      (cdkDropListDropped)="drop($event)"
      id="inactiveListView">
      @for (item of inactiveList; track item) {
        <div class="example-box" cdkDrag>{{item && item.name || '\{skipped on Mapping\}'}}</div>
      }
    </div>
  </div>

  <div class="example-container-setting">
    <h3>Active</h3>
    <div cdkDropList
      class="example-list pos-sticky"
      #activeListView="cdkDropList"
      [cdkDropListData]="activeList"
      [cdkDropListConnectedTo]="[inactiveListView]"
      (cdkDropListDropped)="drop($event)"
      id="activeListView">
      @for (item of activeList; track item) {
        <div class="example-box" cdkDrag>{{item && item.name || '\{skipped on Mapping\}'}}</div>
      }
    </div>
  </div>
</div>