<div
  class="flowscreen"
  [style.min-width.px]="pageWidth + 85"
  data-comment="85 = 16 * 2 + 106 / 2"
  [style.padding-top.px]="isExport ? 40 : 0"
  [style.width]="isExport ? 'calc(100% + 20px)' : 'calc(100% - 1rem)'"
  #flowscreen
  >
  @if (arrayItemsVisible?.length === 0) {
    <h1 style="text-align: center; padding: 8rem; color: #aaa">
      {{ "tabCallFlow.item_was_filtered" | translate }}
    </h1>
  }

  <div class="flow-grid-lines" [style.min-width.px]="pageWidth - 16 * 2">
    @for (title of flowGridLines; track title) {
      <div class="line"></div>
    }
  </div>

  <!-- hosts -->

  <div class="hosts" [style.top.px]="isExport ? 40 : 0">
    <div class="hosts-wrapper">
      <!-- host titles -->
      @for (itemhost of _isCombineByAlias ? hostsCA : hostsIPs; track itemhost) {
        @if (!itemhost.hidden) {
          <div
            [ngClass]="'item-wrapper' + (isSimplify ? ' big' : '')"
            >
            <!-- wrapper -->
            <div
              class="item"
            [style.border-color]="
              (itemhost.color && itemhost.color.border) || 'lightgray'
            "
              >
              <!-- container -->
              <div
                class="aliasfield"
                (mouseover)="showTooltip(itemhost)"
                (mouseout)="hideTooltip()"
                (focus)="showTooltip(itemhost)"
                (blur)="hideTooltip()"
              [ngStyle]="{
                color: itemhost.color ? itemhost.color.font : 'grey',
                background: itemhost.color
                  ? itemhost.color.background
                  : '#fafafa'
              }"
                >
                <div class="alias-img">
                  @if (itemhost.image) {
                    <img
                      class="aliasimg"
                  [src]="
                    itemhost.isLinkImg
                      ? itemhost.image
                      : './assets/' + itemhost.image
                  "
                      [alt]="itemhost.alias || itemhost.ip"
                      height="35px"
                      />
                  } @else {
                    <img
                      class="defaultaliasimg"
                      src="./assets/img/gateways/exchange.png"
                      alt=""
                      />
                  }
                </div>
                <div class="alias-name">
                  {{
                  itemhost.alias && itemhost.alias !== itemhost.ip
                  ? itemhost.alias
                  : ""
                  }}
                </div>
              </div>
              @if (!itemhost.ip_array) {
                <div class="ipfield">
                  {{ shortcutIPv6String(itemhost.ip) }}
                </div>
              } @else {
                @for (item of itemhost.ip_array; track item) {
                  <div
                    class="ipfield"
                    [ngClass]="{ multiple: itemhost.ip_array.length > 1 }"
                    (mouseover)="showTooltip(item.host)"
                    (mouseout)="hideTooltip()"
                    (focus)="showTooltip(item.host)"
                    (blur)="hideTooltip()"
                    >
                    {{ shortcutIPv6String(item.ip) }}
                  </div>
                }
                <div
                  class="ipfield dotted"
                  [hidden]="itemhost.ip_array.length === 1"
                  >
                  <span>• • •</span>
                </div>
              }
            </div>
          </div>
        }
      }
    </div>
  </div>

  <!-- flow packets -->
  <!-- REAL TIME FLOW -->

  <!-- EXPORT FLOW as PNG -->
  @if (isExport) {
    <div
      class="flow-packets-wrapper"
      [style.margin-right.rem]="0"
      [style.min-width.px]="pageWidth + 100"
      >
      <div style="height: 92px"></div>
      @for (item of arrayItemsVisible; track item; let idx = $index) {
        <app-flow-item
          [item]="item"
          [idx]="idx"
          [isSimplify]="false"
          >
        </app-flow-item>
      }
      <div style="height: 40px"></div>
    </div>
  }
<!-- </div> -->
@if (isExport) {
  <div class="label-callid-container">
    @for (itemLabel of labels; track itemLabel) {
      <div
        class="label-callid-wrapper"
        [style.color]="itemLabel.color"
        >
        * {{ itemLabel.callid }}
      </div>
    }
  </div>
}
</div>
<div class="VS-Container-horizontal">
  @if (isSafari) {
    <div
      class="VS-Container"
      style="overflow: auto !important"
      (scroll)="onScrollVScrollWrapper($event)"
      >
      <div
        class="VS-Container"
        style="height: initial; overflow: initial !important;"
        [style.min-width.px]="pageWidth + 100"
        >
        <div style="height: 92px"></div>
        @for (item of arrayItems; track item; let idx = $index) {
          <app-flow-item
            [item]="item"
            [idx]="idx"
            [isGroupByAlias]="_isCombineByAlias"
            [isSimplify]="isSimplify"
            [isAbsolute]="false"
            (itemClick)="onClickMessage($event.idx, $event.event, item)"
          ></app-flow-item>
        }
        <div style="height: 60px"></div>
      </div>
    </div>
  }
  @if (!isExport && !isSafari) {
    <div
      class="VS-Container"
      style="overflow-y: hidden !important"
      (scroll)="onScrollVScrollWrapper($event)"
      #VScrollWrapper
      >
      <cdk-virtual-scroll-viewport
        class="VS-Container hidescroll"
        (wheel)="cdkWheelScroll($event)"
        (touchstart)="onEvent($event, 'touchstart')"
        (touchmove)="onEvent($event, 'touchmove')"
        [itemSize]="!isSimplify ? 74 : 41"
        [style.min-width.px]="pageWidth + 100"
        #virtualScroll
        >
        <ng-container
          *cdkVirtualFor="let item of virtualScrollerItemsArray; let idx = index"
          >
          @switch (item?._step) {
            @case (top) {
              <div style="height: 92px"></div>
            }
            @default {
              <app-flow-item
                [item]="item"
                [idx]="idx"
                [isGroupByAlias]="_isCombineByAlias"
                [isSimplify]="isSimplify"
                [isAbsolute]="false"
                (itemClick)="onClickMessage($event.idx, $event.event, item)"
                >
              </app-flow-item>
            }
            @case (bottom) {
              <div style="height: 60px"></div>
            }
          }
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </div>
  }
</div>

@if (!isExport) {
  <div
    class="label-callid-container"
    #labelContainer
  [style.transition.max-height.s]="
    labelWrapper.offsetHeight < 100 / 2 ? 0.5 : 1
  "
  [style.max-height.px]="
    hidden
      ? 0
      : labelWrapper.offsetHeight < flowscreen.offsetHeight / 2
      ? labelWrapper.offsetHeight
      : flowscreen.offsetHeight / 2
  "
    >
    <mat-icon
      class="label-callid-pull"
      [style.top.px]="-20"
      (click)="toggleLegend()"
      >expand_{{ hidden ? "less" : "more" }}</mat-icon
      >
      <div
        #labelWrapper
        [style.max-height.px]="flowscreen.offsetHeight / 2"
        style="overflow-y: auto; padding-top: 3px"
        >
        @for (itemLabel of labels; track itemLabel) {
          <div
            class="label-callid-wrapper"
            [style.color]="labelColor(itemLabel.callid, itemLabel.selected)"
            [ngClass]="{ selected: itemLabel.copySelected }"
            tabindex="0"
            role="button"
            (click)="onClickLabel(itemLabel.callid)"
            (mousedown)="startCopy()"
            (mouseup)="copy(itemLabel)"
            (keydown.enter)="startCopy()"
            (keyup.enter)="copy(itemLabel)"
            >
            {{ itemLabel.callid }}
          </div>
        }
      </div>
    </div>
  }

<div id="download" style="display: none">
  <img #canvas alt="" />
  <a #downloadLink></a>
</div>

@if (!isExport && !isSafari) {
  <div
    class="virtual-scrollbar"
    (mousedown)="setScrollTarget('virtualScrollbar')"
    (scroll)="setVirtualScrollHeight($event)"
    #virtualScrollbar
    >
    <div [style.transform]="getVirtualScrollHeight" [style.padding.px]="1"></div>
  </div>
}
