<mat-toolbar class="title" color="primary">
  <div>{{'LINK.settings' | translate}}</div>
  <button mat-icon-button (click)="onNoClick()">
    <fa-icon icon="times"></fa-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{'LINK.title' | translate}}</mat-label>
    <input matInput [(ngModel)]="data.title" (ngModelChange)='validate($event)'>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{ 'widgets.aceEditor.settings.theme' | translate }}</mat-label>
    <mat-select [(value)]="data.theme" >
      @for (theme of themeList | keyvalue; track theme) {
        <mat-option [value]="theme.value">
          {{theme.key}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<app-codejar-wrapper
  [theme]="data.theme"
  [(text)]="data.text"
  [mode]="'markdown'"
  [readOnly]="readOnly"
  (textChange)="scriptValidate()"
  [durationBeforeCallback]="200"
  style="min-height: 300px; width:100%; overflow: auto;"
></app-codejar-wrapper>

<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
  <button mat-raised-button (click)="onNoClick()">{{'LINK.buttons.cancel' | translate}}</button>
  <button mat-raised-button class="setting-btn-ok" [mat-dialog-close]="data" cdkFocusInitial [disabled]='isInvalid'>{{'LINK.buttons.save' | translate}}</button>
</div>
